.clouds > div:nth-child(1) {
    animation-delay: .15s;
    animation-duration: 3.15s;
}

.clouds > div:nth-child(2) {
    animation-delay: .53s;
    animation-duration: 3.53s;
}

.clouds > div:nth-child(3) {
    animation-delay: .271s;
    animation-duration: 3.271s;
}

.clouds > div:nth-child(4) {
    animation-delay: 0.471s;
    animation-duration: 3.471s;
}

.clouds > div:nth-child(5) {
    animation-delay: 1.2110s;
    animation-duration: 3.2110s;
}

.clouds > div:nth-child(6) {
    animation-delay: 0.335s;
    animation-duration: 3.335s;
}