@keyframes polkaAnimation {

    0%,
    100% {
        background-image:
            radial-gradient(var(--color-1) 10%, transparent 1%),
            radial-gradient(var(--color-1) 10%, transparent 1%);
    }

    3% {
        background-image:
            radial-gradient(var(--color-1) 13%, transparent 1%),
            radial-gradient(var(--color-1) 13%, transparent 1%);
    }

    6% {
        background-image:
            radial-gradient(var(--color-1) 16%, transparent 1%),
            radial-gradient(var(--color-1) 16%, transparent 1%);
    }

    9% {
        background-image:
            radial-gradient(var(--color-1) 19%, transparent 1%),
            radial-gradient(var(--color-1) 19%, transparent 1%);
    }

    12% {
        background-image:
            radial-gradient(var(--color-1) 22%, transparent 1%),
            radial-gradient(var(--color-1) 22%, transparent 1%);
    }

    15% {
        background-image:
            radial-gradient(var(--color-1) 25%, transparent 1%),
            radial-gradient(var(--color-1) 25%, transparent 1%);
    }

    18% {
        background-image:
            radial-gradient(var(--color-1) 28%, transparent 1%),
            radial-gradient(var(--color-1) 28%, transparent 1%);
    }

    21% {
        background-image:
            radial-gradient(var(--color-1) 31%, transparent 1%),
            radial-gradient(var(--color-1) 31%, transparent 1%);
    }

    24% {
        background-image:
            radial-gradient(var(--color-1) 34%, transparent 1%),
            radial-gradient(var(--color-1) 34%, transparent 1%);
    }

    27% {
        background-image:
            radial-gradient(var(--color-1) 37%, transparent 1%),
            radial-gradient(var(--color-1) 37%, transparent 1%);
    }

    30% {
        background-image:
            radial-gradient(var(--color-1) 40%, transparent 1%),
            radial-gradient(var(--color-1) 40%, transparent 1%);
    }

    33% {
        background-image:
            radial-gradient(var(--color-1) 37%, transparent 1%),
            radial-gradient(var(--color-1) 37%, transparent 1%);
    }

    36% {
        background-image:
            radial-gradient(var(--color-1) 34%, transparent 1%),
            radial-gradient(var(--color-1) 34%, transparent 1%);
    }

    39% {
        background-image:
            radial-gradient(var(--color-1) 31%, transparent 1%),
            radial-gradient(var(--color-1) 31%, transparent 1%);
    }

    42% {
        background-image:
            radial-gradient(var(--color-1) 28%, transparent 1%),
            radial-gradient(var(--color-1) 28%, transparent 1%);
    }

    45% {
        background-image:
            radial-gradient(var(--color-1) 25%, transparent 1%),
            radial-gradient(var(--color-1) 25%, transparent 1%);
    }

    48% {
        background-image:
            radial-gradient(var(--color-1) 22%, transparent 1%),
            radial-gradient(var(--color-1) 22%, transparent 1%);
    }

    51% {
        background-image:
            radial-gradient(var(--color-1) 19%, transparent 1%),
            radial-gradient(var(--color-1) 19%, transparent 1%);
    }

    54% {
        background-image:
            radial-gradient(var(--color-1) 16%, transparent 1%),
            radial-gradient(var(--color-1) 16%, transparent 1%);
    }

    57% {
        background-image:
            radial-gradient(var(--color-1) 13%, transparent 1%),
            radial-gradient(var(--color-1) 13%, transparent 1%);
    }

    60% {
        background-image:
            radial-gradient(var(--color-1) 10%, transparent 1%),
            radial-gradient(var(--color-1) 10%, transparent 1%);
    }
}


.polka {
    background-image:
        radial-gradient(var(--color-1) 30.8%, transparent 1%),
        radial-gradient(var(--color-1) 30.8%, transparent 1%);
    background-position: 0px 0px, 20px 20px;
    background-size: 40px 40px;
    background-color: var(--color-2);
    animation: polkaAnimation 5s infinite alternate ease-in-out;
}