@keyframes infiniteScroll {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}

.stripe {
    background: repeating-linear-gradient(55deg,
            var(--color-1),
            var(--color-1) 15px,
            var(--color-2) 15px,
            var(--color-2) 30px);
    background-position: 0 100%;
    background-size: 100% 200%;
    animation: infiniteScroll 10s linear infinite;
}