@keyframes zigzagScroll {
    0% {
        background-position: -50px 0, -50px 0, 0 0, 0 0;
    }

    100% {
        background-position: -50px 100px, -50px 100px, 0 100px, 0 100px;
    }
}

.zigzag {
    background:
        linear-gradient(135deg, var(--color-1) 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, var(--color-1) 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, var(--color-1) 25%, transparent 25%),
        linear-gradient(45deg, var(--color-1) 25%, transparent 25%);
    background-size: 101px 101px;
    background-color: var(--color-2);
    animation: zigzagScroll 5s linear infinite;
}